body{
    /* background-color: rgba(126, 228, 10, 0.466); */
     /* background-image: url(https://i.pinimg.com/originals/6f/35/dc/6f35dc3f1519c3024e6bc7f64d3ce511.jpg); */
    background-image: url(https://wallpapercave.com/wp/wp5549217.jpg);
    background-repeat: no-repeat;
    /* background-size: 100%100%; */
    background-size: cover;

}
h1{ 
    color:hsl(0, 88%, 37%);
    height:20px;
    width: 30px;
}
img{
    height: 400px;
}
h2{
    color: white;
}
p{
    color: rgb(17, 2, 8);
}
h3{
    color:gainsboro;
}